<section class="content-section white-color faq  white-color bg-mask" id="top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<!-- heading title -->
					<h1 class="heading-title-big">
						Hallo!
					</h1>
					<!-- horizontal line -->
					<span class="horizontal-line">
						<span></span>
					</span>
					<!-- description slider -->
					<div class="description">
						<p>

							Willkommen auf unsere Webseite.

							Wir bauen eine Plattform für Software-Entwickler die dir hilft die an coolen Projekten zu arbeiten, dich weiterzuentwickeln, mehr Freizeit zu haben und mehr Geld zu verdienen. Du entscheidest was dir wichtig ist.

							Verdienst du mehr, bekommst du mehr.

							Wir haben einen Rechner der dir sagt was du verdienen kannst, den findest du hier:

						</p>
						<br />

						<app-hs-salary-home></app-hs-salary-home>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
