<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

	<meta charset="utf-8">
	<title>Milness - Frequently asked questions</title>
	<meta name="description" content="">
    <meta name="author" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="assets/images/favicon.png" rel="icon"/>
	
	<link rel="stylesheet" href="assets/libs/bootstrap/css/bootstrap-grid.min.css">
	<!-- Icon fonts -->
	<link rel="stylesheet" href="assets/libs/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
	<link rel="stylesheet" href="assets/libs/font-awesome-4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/libs/superfish-master/css/superfish.css">
	<link rel="stylesheet" href="assets/libs/magnific-popup/magnific-popup.css">
	<link rel="stylesheet" href="assets/libs/ytp-player/css/jquery.mb.YTPlayer.min.css">
	<link rel="stylesheet" href="assets/libs/slick/slick.css">
	<link rel="stylesheet" href="assets/libs/animate/animate.css">

	<!-- Google fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300|Roboto:400,500,700,300|Pacifico' rel='stylesheet' type='text/css'>

	<!-- Main styles -->
	<link rel="stylesheet" href="assets/css/main.css">

</head>

<body class="page faq-page">

<!-- Start Header -->

	<header  id="top-nav">
		<div class="container">
			<div class="row">
			<!-- Logo -->
			<a class="logo smooth-scroll" href="#top">Milness.</a>
			<!-- Top navigation -->
				<nav class="top-menu">
					<ul class="sf-menu clearfix">
						<li>
							<a href="index.html">Home</a>
							<ul>
								<li><a href="canvas.html">Home - Canvas 1</a></li>
								<li><a href="canvas2.html">Home - Canvas 2</a></li>
								<li><a href="no-slider.html">Home - No Slider</a></li>
								<li><a href="hero-background.html">Home - Hero Background</a></li>
								<li><a href="fixed-bg-with-slider.html">Home - Fixed Image Slider</a></li>
								<li><a href="slider-only-text.html">Home - Slider Only Text</a></li>
								<li><a href="parallax.html">Home - Parallax Background</a></li>
								<li><a href="video-background.html">Home - Video Background</a></li>
								<li><a href="android.html">For Android App</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Pages</a>
							<ul>
								<li><a href="faq.html">Page - FAQ</a></li>
								<li><a href="terms.html">Page - TERMS</a></li>
								<li><a href="contact.html">Page - CONTACT</a></li>
								<li><a href="blog.html">Page - Blog</a></li>
							</ul>
						</li>
						<li><a href="#features" class="smooth-scroll">Features</a></li>
						<li><a href="#services" class="smooth-scroll">Services</a></li>
						<li><a href="#price" class="smooth-scroll">Price</a></li>
						<li><a href="#customers" class="smooth-scroll">Customers</a></li>
						<li><a href="#contact" class="smooth-scroll">Contact</a></li>
					</ul>
				</nav>
				<!-- Toggle menu -->
				<a href="#" class="toggle-mnu">
					<span></span>
				</a>
				<!-- Mobile menu -->
				<div id="mobile-menu">
					<div class="inner-wrap">
						<nav>
							<ul class="nav_menu">
								<li class="menu-item-has-children current-menu-item">
									<a href="#">Home</a>
									<ul class="sub-menu">
										<li><a href="canvas.html">Home - Canvas 1</a></li>
										<li><a href="canvas2.html">Home - Canvas 2</a></li>
										<li><a href="no-slider.html">Home - No Slider</a></li>
										<li><a href="hero-background.html">Home - Hero Background</a></li>
										<li><a href="fixed-bg-with-slider.html">Home - Fixed Image Slider</a></li>
										<li><a href="slider-only-text.html">Home - Slider Only Text</a></li>
										<li><a href="parallax.html">Home - Parallax Background</a></li>
										<li><a href="video-background.html">Home - Video Background</a></li>
										<li><a href="android.html">For Android App</a></li>
									</ul>
								</li>
								<li class="menu-item-has-children">
									<a href="#">Pages</a>
									<ul class="sub-menu">
										<li><a href="faq.html">Page - FAQ</a></li>
										<li><a href="terms.html">Page - TERMS</a></li>
										<li><a href="contact.html">Page - CONTACT</a></li>
										<li><a href="blog.html">Page - Blog</a></li>
									</ul>
								</li>

								<li><a href="#features" class="smooth-scroll">Features</a></li>
								<li><a href="#services" class="smooth-scroll">Services</a></li>
								<li><a href="#price" class="smooth-scroll">Price</a></li>
								<li><a href="#customers" class="smooth-scroll">Customers</a></li>
								<li><a href="#contact" class="smooth-scroll">Contact</a></li>
							</ul>

						</nav>
					</div>
				</div><!-- end mobile menu -->
			</div>
		</div>
	</header>

<!-- Start Content section	 -->

	<section class="content-section white-color hero-bg" id="top">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<!-- heading title -->
						<h1 class="heading-title-big">
							Frequently Asked Questions
						</h1>
						<!-- horizontal line -->
						<span class="horizontal-line"><span></span></span>
						<!-- description slider -->
						<div class="description">
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

<!-- End Content section	 -->

<section class="content-page">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="text-background">
					<h3>Frequently Asked Questions - milness</h3>
					<p>Lorem ipsum dolor sit amet accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores</p>
				</div>
			</div>
			<!-- Accordion block -->
			<div class="accordion-section">
				<div class="col-md-12">
					<!-- Start accordion block -->
					<h2>What is - Milness App</h2>
					<div id="accordion" class="accordion">
						<h3>How can I create an account?</h3>
						<div>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
							<br><br>
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut</p>
						</div>
						<h3>Do you have an Android app?</h3>
						<div>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut</p>
						</div>
						<h3>Where can I find your apps ?</h3>
						<div>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
						</div>
						<h3>What is milness?</h3>
						<div>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut</p>
						</div>
					</div> <!-- end accordion -->

					<!-- Start accordion block -->
					<h2>Using - Milness App</h2>
					<div id="accordion" class="accordion">
						<h3>How can I create an account?</h3>
						<div>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut</p>
						</div>
						<h3>Do you have an Android app?</h3>
						<div>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut</p>
						</div>
						<h3>Where can I find your apps ?</h3>
						<div>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
						</div>
						<h3>What is milness?</h3>
						<div>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut</p>
						</div>
					</div> <!-- end accordion -->

					<!-- Start accordion block -->
					<h2>Buying on - Milness App</h2>
					<div id="accordion" class="accordion">
						<h3>How can I create an account?</h3>
						<div>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut</p>
						</div>
						<h3>Do you have an Android app?</h3>
						<div>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut</p>
						</div>
						<h3>Where can I find your apps ?</h3>
						<div>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
						</div>
						<h3>What is milness?</h3>
						<div>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut</p>
						</div>
					</div> <!-- end accordion -->

					<!-- Start accordion block -->
					<h2>Donating on - Milness App</h2>
					<div id="accordion" class="accordion">
						<h3>How can I create an account?</h3>
						<div>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut</p>
						</div>
						<h3>Do you have an Android app?</h3>
						<div>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut</p>
						</div>
						<h3>Where can I find your apps ?</h3>
						<div>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
						</div>
						<h3>What is milness?</h3>
						<div>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut</p>
						</div>
					</div> <!-- end accordion -->
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Start footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="heading-title">
						<h2><span>Milness</span></h2>
					</div>
					<div class="social-inons">
						<ul>
							<li class="icon-circle" ><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li class="icon-circle" ><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li class="icon-circle" ><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							<li class="icon-circle" ><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							<li class="icon-circle" ><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="bottom-footer white-color">
					<div class="col-md-6">
						<div class="footer-copyright">
							<p>Milness &copy; 2016 All Rights Reserved. Developed by - Brainiak</p>
						</div>	
					</div>
					<div class="col-md-6">
						<div class="footer-menu">
							<ul>
								<li><a href="#">Terms</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Licenses</a></li>
							</ul>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</footer>
	


	<div class="hidden">
	</div>
	<div class="top icon-down toTopFromBottom">
        <a href="#top"><i class="pe-7s-angle-up"></i></a>
    </div>

	<!--[if lt IE 9]>
	<script src="assets/libs/html5shiv/es5-shim.min.js"></script>
	<script src="assets/libs/html5shiv/html5shiv.min.js"></script>
	<script src="assets/libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="assets/libs/respond/respond.min.js"></script>
	<![endif]-->

	<!-- GOOGLE MAP -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfIvcRb39yOu1OFOX2G0c4jemKpLgpJl0&sensor=false"></script>

	<!-- LIBS -->
	<script src="assets/libs/jquery/"assets/libs/jquery-1.12.0.min.js"></script>
	<script src="assets/js/libs.js" ></script>

	<!-- Use scripts -->
	<script src="assets/js/common.js"></script>

</body>
</html>
