<div class="row">
	<div class="col-md-12 content-mill">
		<div class="content-slide">
			<ul>
				<li>
					<label>
						<div class="heading-title">
							<h2>Guarantied Income</h2>
							<p>The money you'll receive from us.
								<br/>
								<br/>
								<br/>
								<strong>{{summary.basicSalary | currency:'EUR':'symbol':'4.2-2':'de'}}</strong>
							</p>
						</div>
					</label>
				</li>
				<li>
					<label>
						<div class="heading-title">
							<h2>Additional Income Costs</h2>
							<p>The money we'll have to pay in addition.
								<br />
								<br />
								<br />
								<strong>{{summary.bonusSalaryPlan | currency:'EUR':'symbol':'4.2-2':'de'}}</strong>
							</p>
						</div>
					</label>
				</li>
				<li>
					<label>
						<div class="heading-title">
							<h2>Working days</h2>
							<p>The days to work in the current calculatin.
								<br />
								<br />
								<br />
								<strong>{{summary.daysOfWork}}</strong>
							</p>
						</div>
					</label>
				</li>
			</ul>
		</div>
	</div>
</div>
