<ul>
  <li>
    <label>
      Gross salary
    </label>
    <span>
      {{summary.grossSalary | currency:'EUR':'symbol':'4.2-2':'de'}}
    </span>
  </li>
  <li>
      <label>
        Additional salary costs
      </label>
      <span>
        {{summary.additionalSalaryCosts | currency:'EUR':'symbol':'4.2-2':'de'}}
      </span>
    </li>
    <li>
        <label>
          Opportunity
        </label>
        <span>
          {{summary.opportunity | currency:'EUR':'symbol':'4.2-2':'de'}}
        </span>
      </li>
</ul>
