<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="heading-title">
					<h2>
						<span>HS High Stake</span>
					</h2>
				</div>
				<div class="social-inons">
					<ul>
						<li class="icon-circle">
							<a href="#">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
						</li>
						<li class="icon-circle">
							<a href="#">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</a>
						</li>
						<!-- <li class="icon-circle" ><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->
						<li class="icon-circle">
							<a href="#">
								<i class="fa fa-dribbble" aria-hidden="true"></i>
							</a>
						</li>
						<li class="icon-circle">
							<a href="#">
								<i class="fa fa-google-plus" aria-hidden="true"></i>
							</a>
						</li>
						<li class="icon-circle">
							<a href="#">
								<i class="fa fa-youtube" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="bottom-footer white-color">
				<div class="col-md-6">
					<div class="footer-copyright">
						<p>HS High Stake &copy; {{currentYear}} </p>
					</div>
				</div>
				<div class="col-md-6">
					<!-- Bottom nav -->
					<div class="footer-menu">
						<ul>
							<li>
								<a routerLink="/imprint">Imprint</a>
							</li>
						</ul>
					</div>
					<!-- End Bottom nav -->
				</div>
			</div>
		</div>
	</div>
</footer>
