<header id="top-nav">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Logo -->
				<div class="logo"></div>
				<!-- Top navigation -->
				<nav class="top-menu">
					<ul class="sf-menu clearfix">
						<!--
						<li>
							<a routerLink="/home" href="#">Home</a>
						</li>
						<li>
							<a class="smooth-scroll" routerLink="/about_us">Über uns</a>
							<ul>
								<li>
									<a class="smooth-scroll" routerLink="/about_us/concept">Konzept</a>
								</li>
								<li>
									<a class="smooth-scroll" routerLink="/about_us/principle">Leitsätze und deren Umsetzung</a>
								</li>
							</ul>
						</li>

						<li>
							<a class="smooth-scroll" routerLink="/working_with_us">Arbeiten mit High Stake</a>
							<ul>
								<li>
									<a class="smooth-scroll" routerLink="/salary">Als Partner</a>
								</li>
								<li>
									<a class="smooth-scroll" routerLink="/working/customer">Als Kunde</a>
								</li>
							</ul>
						</li>

						<li>
							<a class="smooth-scroll" routerLink="/credentials">Referenzen</a>
						</li>
						<li>
							<a class="smooth-scroll" routerLink="/login">Login</a>
						</li>
						<li></li>
					-->
					</ul>
				</nav>
				<!-- Toggle menu -->
				<a href="#" class="toggle-mnu">
					<span></span>
				</a>
				<!-- Mobile menu -->
				<div id="mobile-menu">
					<div class="inner-wrap">
						<nav>
							<ul class="nav_menu">
								<li class="menu-item-has-children current-menu-item">
									<a href="#">Home</a>
									<ul class="sub-menu">
										<li>
											<a href="canvas.html">Home - Canvas 1</a>
										</li>
										<li>
											<a href="canvas2.html">Home - Canvas 2</a>
										</li>
										<li>
											<a href="no-slider.html">Home - No Slider</a>
										</li>
										<li>
											<a href="hero-background.html">Home - Hero Background</a>
										</li>
										<li>
											<a href="fixed-bg-with-slider.html">Home - Fixed Image Slider</a>
										</li>
										<li>
											<a href="slider-only-text.html">Home - Slider Only Text</a>
										</li>
										<li>
											<a href="parallax.html">Home - Parallax Background</a>
										</li>
										<li>
											<a href="video-background.html">Home - Video Background</a>
										</li>
										<li>
											<a href="android.html">For Android App</a>
										</li>
									</ul>
								</li>
								<li class="menu-item-has-children">
									<a href="#">Pages</a>
									<ul class="sub-menu">
										<li>
											<a href="faq.html">Page - FAQ</a>
										</li>
										<li>
											<a href="terms.html">Page - TERMS</a>
										</li>
										<li>
											<a href="contact.html">Page - CONTACT</a>
										</li>
										<li>
											<a href="blog.html">Page - Blog</a>
										</li>
									</ul>
								</li>

								<li>
									<a href="#features" class="smooth-scroll">Features</a>
								</li>
								<li>
									<a href="#services" class="smooth-scroll">Services</a>
								</li>
								<li>
									<a href="#price" class="smooth-scroll">Price</a>
								</li>
								<li>
									<a href="#customers" class="smooth-scroll">Customers</a>
								</li>
								<li>
									<a href="#contact" class="smooth-scroll">Contact</a>
								</li>
							</ul>

						</nav>
					</div>
				</div>
				<!-- end mobile menu -->
			</div>
		</div>
	</div>
</header>
