<form>
  <div id="type_of_development">
    <h2>Type of development</h2>
    <div *ngFor="let type of types">
      <label for="type_{{type.id}}">{{type.label}}</label>
      <input type="radio" name="type_" value="backend" id="type_{{type.id}}">
    </div>
  </div>
  <div id="technology">
    <h2>Technology</h2>
    <div *ngFor="let technology of technologies">
      <label for="technology_{{technology.id}}">{{technology.label}}</label>
      <input type="radio" name="technology" value="backend" id="technology_{{technology.id}}">
    </div>
  </div>
</form>
