<span class="horizontal-line">
	<span></span>
</span>
<div class="row">
	<div class="contact-form">
		<div class="contact-form">
			<form id="contact-form" class="contact-form white-form" (change)="formChanged($event)">
				<div class="col-md-4">
					<div id="type_of_development">
						<h2>Type of development</h2>
						<div *ngFor="let type of types; first as first">
							<input type="radio" name="type" value="{{type.id}}" id="type_{{type.id}}" [checked]="first" (change)="checkTypeOfDevelopment($event)">
							<label for="type_{{type.id}}">{{type.label}}</label>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div id="level">
						<h2>Level of skills</h2>
						<div *ngFor="let level of levels; first as first">
							<input type="radio" name="level" value="{{level.id}}" id="level_{{level.id}}" [checked]="first" (change)="setLevel($event)">
							<label for="level_{{level.id}}">{{level.label}}</label>
						</div>
					</div>
				</div>
				<div *ngIf="!isFrontend" class="col-md-4">
					<div id="technology">
						<h2>Technology</h2>
						<div *ngFor="let technology of technologies; first as first">
							<input type="radio" name="technology" value="{{technology.id}}" id="technology_{{technology.id}}" [checked]="first" (change)="setTechnology($event)">
							<label for="technology_{{technology.id}}">{{technology.label}}</label>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
