<span class="horizontal-line">
	<span></span>
</span>
<div class="row">
	<div class="col-md-12 content-mill">
		<div class="content-slide">
			<!-- heading title -->
			<h2>
				Gehaltszusammensetzung
			</h2>
			<!-- horizontal line -->
			<!-- description slider -->
			<div class="description">
				<span>
					<fusioncharts [id]="id" [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource"></fusioncharts>
				</span>
			</div>
		</div>
	</div>
</div>
