<ul>
  <li>
    <label>
      Gross salary
    </label>
    <span>
      {{summary.BasicSalary | currency:'EUR':'symbol':'4.2-2':'de'}}
    </span>
  </li>
  <li>
    <label>
      Additional salary costs
    </label>
    <span>
      {{summary.BonusSalaryPlan | currency:'EUR':'symbol':'4.2-2':'de'}}
    </span>
  </li>
  <li>
    <label>
      Opportunity
    </label>
    <span>
      {{summary.opportunity | currency:'EUR':'symbol':'4.2-2':'de'}}
    </span>
  </li>
  <li>
    <label>
      Days of work:
    </label>
    <span>
      {{summary.DaysOfWork}}
    </span>
  </li>
</ul>
