<div class="container-slide center">
	<div class="container">
		<div class="row">
			<div class="col-md-12 content-mill">
				<div class="content-slide">
					<!-- heading title -->
					<h1 class="heading-title-big">
						<span>Your Income</span>
					</h1>
					<!-- horizontal line -->
					<span class="horizontal-line">
						<span></span>
					</span>
					<!-- description slider -->
					<div class="description">
						<span>
							82.000 €
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-hs-salary-summary-details></app-hs-salary-summary-details>
