<!-- Start pagination -->
<div class="pagination-btns">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<nav class="navigation pagination" role="navigation">
					<h2 class="screen-reader-text">Posts navigation</h2>

					<div class="nav-links">
						<span class="page-numbers current">1</span>
						<a class="page-numbers" href="#">2</a>
						<a class="next page-numbers" href="#">Next</a>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- end pagination -->
